.seta-esquerda,.seta-direita,.blc-menor,.desk-redes,.desk-map{
    display: none;
}


.desk-main{
    margin-top: -40px;
}


#desk-textmain{
    font-size: 25px;
    text-align: center;
    padding: 10px;
}
#desk-textmainone{
    font-size: 22px;
}


#blc-maior{
    height: 90%;
    transform: scale(0.9);

}
.blc-menor{
    margin: 90px;
}
.blc-final{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}